@inherits LayoutComponentBase

<main> 
    @Body 
    <li class="nav-item px-3">
    <NavLink class="nav-link" href="gifviewer">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Visor de GIF
    </NavLink>
</li>

    </main>
